aiohttp==3.6.2
aiohttp-retry==1.0
aiomisc==10.1.0
aldjemy==0.10.1
anytree==2.8.0
asgiref==3.2.4
certifi==2019.11.28
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==5.1
Django==3.0.4
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-filter==2.2.0
django-rest-swagger==2.2.0
django-webpack-loader==0.7.0
djangorestframework==3.11.0
drf-api-tracking==1.7.5
et-xmlfile==1.0.1
fastcache==1.1.0
gunicorn==20.0.4
idna==2.9
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.11.1
Markdown==3.2.1
MarkupSafe==1.1.1
numpy==1.18.2
openapi-codec==1.3.2
openpyxl==3.0.3
pandas==1.0.3
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.3
requests==2.23.0
simplejson==3.17.0
six==1.14.0
SQLAlchemy==1.3.16
sqlparse==0.3.1
uritemplate==3.0.1
urllib3==1.25.8
